<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.demomybatis.dao.UserMapper">
    <resultMap id="userResultMap" type="com.mybatis.demomybatis.pojo.User">
        <id column="phoneNumber" property="phoneNumber"/>
        <result column="userName" property="userName"/>
        <result column="userPwd" property="userPwd"/>
        <result column="userSex" property="userSex"/>
        <result column="userAge" property="userAge"/>
        <result column="address" property="address"/>
        <result column="createTime" property="createTime"/>
    </resultMap>

    <select id="selectUserById" parameterType="String"  resultType="com.mybatis.demomybatis.pojo.User">
        select * from user where phoneNumber=#{phoneNumber}
    </select>
    <!-- 返回List<User> 集合   -->
    <select id="selectUserAll" resultType="com.mybatis.demomybatis.pojo.User">
        select * from user
    </select>
    <!-- 返回Map<string,User> 集合  -->
    <select id="selectUserMapAll" resultType="map">
        select * from user
    </select>
    <!-- 返回1个Map<string,User> 集合  -->
    <select id="selectUserMapById" resultType="map">
        select * from user where phoneNumber=#{phoneNumber}
    </select>
    <!-- 动态SQL -->
    <!-- if+where   -->
    <select id="selectUserByNameOrPhoneNumber" parameterType="com.mybatis.demomybatis.pojo.User" resultType="com.mybatis.demomybatis.pojo.User">
        select *from user
        <where>
            <if test="userName != null and userName !='' ">
                userName=#{userName}
            </if>
            <if test="phoneNumber != null and  phoneNumber != '' " >
                and phoneNumber = #{phoneNumber}
            </if>
        </where>
    </select>
    <!--  if+set   -->
    <update id="updateUser" parameterType="com.mybatis.demomybatis.pojo.User">
        update user
        <set>
            <if test="userName != null and userName != ''">userName = #{userName},</if>
            <if test="userSex != null and userSex != ''">userSex = #{userSex},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="address != null and address != ''">address = #{address}</if>
        </set>
        where phoneNumber =#{phoneNumber}
    </update>
    <!-- if+choose   -->
    <select id="selectUserByChoose" parameterType="com.mybatis.demomybatis.pojo.User" resultType="com.mybatis.demomybatis.pojo.User">
        select *from user
        <where>
            <choose>
                <when test="phoneNumber != null and phoneNumber != ''">
                    phoneNumber = #{phoneNumber}
                </when>
                <when test="userName != null and  userName != ''">
                    userName = #{userName}
                </when>
                <otherwise></otherwise>
            </choose>
        </where>
    </select>
</mapper>
